body {
	background-color: #F0F4F4;
	font-family: Verdana, sans-serif;
	margin: auto;
}

#site-directory {
	border-style: groove;
	border-width: 14px;
	border-color: #E0EAEA;
}

.page-title {
	margin-left: 400px;
}

.form-section {
	border-style: none;
}

form {
	background-color: #E0EAEA;
}

#elsita {
	background-color: #E0EAEA;
}

#about-main {
	display: inline-block;
}

footer {
	float: right;
}