body {
	background-color: #fff3e8;
	font-family: Verdana, sans-serif;
	margin: auto;
}

a:link {
	color: #fffaf5;
	text-decoration: none;
}

a:visited {
	color: #5b8c8c;
}

a:hover {
	color: #ee8787;
}

nav ul li {
	text-transform: uppercase;
	list-style: none;
	display: inline-block;
}

nav ul li a {
	color: #fffaf5;
	text-align: center;
	text-decoration: none;
	padding: 14px 20px;
}

#site-directory {
	width: 100%;
	margin: auto;
	border-style: groove;
	border-width: 5px;
	border-color: #dfc3aa;
	background-color: #dfc3aa;
}

.main-body {
	background-color: #fffaf5;
	width: 80%;
	margin: auto;
}

.full-photo {
	width: 100%;
}

.page-title {
	margin: auto;
}

.form-section {
	border-style: none;
}

form {
	margin: auto;
	width: 80%;
	background: url('cell.jpg');
}

#elsita {
	background-color: #dfc3aa;
}

#about-main {
	display: inline-block;
}

footer {
	float: right;
	font-family: cursive;
	padding-right: 20px;
}

